using System;
using System.Collections.Generic;
{% if has_enums %}
using System.ComponentModel;
{% endif %}

{% for node in nodes %}
{% if node.node_type == 'interface' %}
public interface I{{ node.name }}
{
{% for prop in node.properties %}
    {{ prop.type }} {{ prop.name | title }} { get; set; }
{% endfor %}
{% for method in node.methods %}
    {{ method.return_type or "void" }} {{ method.name }}({% for param in method.parameters %}{{ param.type }} {{ param.name }}{% if not loop.last %}, {% endif %}{% endfor %});
{% endfor %}
}
{% elif node.node_type == 'enum' %}
public enum {{ node.name }}
{
{% if node.enum_literals %}
{% for literal in node.enum_literals %}
    {{ literal.name }}{% if literal.value %} = {{ literal.value }}{% endif %}{% if not loop.last %},{% endif %}
{% endfor %}
{% endif %}
}
{% elif node.node_type == 'abstract_class' or node.is_abstract %}
public abstract class {{ node.name }}{% if inheritance_map[node.name] %} : {{ inheritance_map[node.name][0] }}{% endif %}
{% else %}
public class {{ node.name }}{% if inheritance_map[node.name] %} : {{ inheritance_map[node.name][0] }}{% endif %}
{% endif %}
{
    {% if node.properties %}
    // Properties
    {% for prop in node.properties %}
    {% if prop.visibility == "private" %}private{% elif prop.visibility == "protected" %}protected{% else %}public{% endif %}{% if prop.is_static %} static{% endif %} {{ prop.type }} {{ prop.name | title }}{% if prop.default_value %} = {{ prop.default_value }}{% endif %} { get; set; }
    {% endfor %}
    {% endif %}

    {% if node.properties %}
    // Constructor
    public {{ node.name }}()
    {
        {% for prop in node.properties %}
        {% if not prop.default_value %}
        {{ prop.name | title }} = default({{ prop.type }});
        {% endif %}
        {% endfor %}
    }
    {% endif %}

    {% if node.methods %}
    // Methods
    {% for method in node.methods %}
    {% if method.visibility == "private" %}private{% elif method.visibility == "protected" %}protected{% else %}public{% endif %}{% if method.is_static %} static{% endif %}{% if method.is_abstract %} abstract{% endif %} {{ method.return_type or "void" }} {{ method.name }}({% for param in method.parameters %}{{ param.type }} {{ param.name }}{% if not loop.last %}, {% endif %}{% endfor %}){% if method.is_abstract %};{% else %}
    {
        // TODO: Implement method
        {% if method.return_type and method.return_type != "void" %}
        return default({{ method.return_type }});
        {% endif %}
    }{% endif %}

    {% endfor %}
    {% endif %}
}
{% endif %}

{% endfor %}