{% for node in nodes %}
{% set ntype = node.node_type.value %}
{% if ntype == 'interface' %}
public interface {{ node.name }}{% if inheritance_map[node.name] %} extends {{ inheritance_map[node.name] | join(', ') }}{% endif %} {
{% elif ntype == 'enum' %}
public enum {{ node.name }} {
{% if node.enum_literals %}
{% for literal in node.enum_literals %}
    {{ literal.name }}{% if not loop.last %},{% else %};{% endif %}

{% endfor %}
{% endif %}
{% elif ntype == 'abstract_class' or node.is_abstract %}
public abstract class {{ node.name }}{% if inheritance_map[node.name] %} extends {{ inheritance_map[node.name][0] }}{% endif %} {
{% else %}
public class {{ node.name }}{% if inheritance_map[node.name] %} extends {{ inheritance_map[node.name][0] }}{% endif %} {
{% endif %}
{% if ntype != 'enum' %}
{% if node.properties %}

    // Attributes
{% for prop in node.properties %}
    {{ get_java_visibility(prop.visibility) }}{% if prop.is_static %} static{% endif %} {{ prop.type }} {{ prop.name }};
{% endfor %}
{% endif %}
{% if ntype not in ['interface'] and node.properties %}

    // Constructor
    public {{ node.name }}() {
        // TODO: Initialize attributes
    }
{% endif %}
{% if node.methods %}

    // Methods
{% for method in node.methods %}
    {{ get_java_visibility(method.visibility) }}{% if method.is_abstract or ntype == 'interface' %} abstract{% endif %}{% if method.is_static %} static{% endif %} {{ method.return_type or "void" }} {{ method.name }}({% for param in method.parameters %}{{ param.type }} {{ param.name }}{% if not loop.last %}, {% endif %}{% endfor %}){% if method.is_abstract or ntype == 'interface' %};{% else %} {
        // TODO: Implement method
    }{% endif %}
{% if not loop.last %}

{% endif %}
{% endfor %}
{% endif %}
{% endif %}
}
{% if not loop.last %}

{% endif %}
{% endfor %}
