{% for node in nodes %}
{% if node.node_type == 'interface' %}
interface {{ node.name }} {
{% for prop in node.properties %}
    {% if prop.visibility == "private" %}private {% elif prop.visibility == "protected" %}protected {% else %}{% endif %}{{ prop.name }}{% if prop.default_value is not none %}?{% endif %}: {{ prop.type }};
{% endfor %}
{% for method in node.methods %}
    {% if method.visibility == "private" %}private {% elif method.visibility == "protected" %}protected {% else %}{% endif %}{{ method.name }}({% for param in method.parameters %}{{ param.name }}: {{ param.type }}{% if not loop.last %}, {% endif %}{% endfor %}){% if method.return_type %}: {{ method.return_type }}{% else %}: void{% endif %};
{% endfor %}
}
{% elif node.node_type == 'enum' %}
enum {{ node.name }} {
{% if node.enum_literals %}
{% for literal in node.enum_literals %}
    {{ literal.name }}{% if literal.value %} = {{ literal.value }}{% endif %}{% if not loop.last %},{% endif %}
{% endfor %}
{% endif %}
}
{% elif node.node_type == 'abstract_class' or node.is_abstract %}
abstract class {{ node.name }}{% if inheritance_map[node.name] %} extends {{ inheritance_map[node.name][0] }}{% endif %} {
    {% if node.properties %}
    // Attributes
    {% for prop in node.properties %}
    {% if prop.visibility == "private" %}private {% elif prop.visibility == "protected" %}protected {% else %}public {% endif %}{% if prop.is_static %}static {% endif %}{{ prop.name }}: {{ prop.type }}{% if prop.default_value %} = {{ prop.default_value }}{% endif %};
    {% endfor %}
    {% endif %}

    {% if node.properties %}
    constructor() {
        {% if inheritance_map[node.name] %}
        super();
        {% endif %}
        {% for prop in node.properties %}
        {% if not prop.default_value %}
        this.{{ prop.name }} = null;
        {% endif %}
        {% endfor %}
    }
    {% endif %}

    {% if node.methods %}
    // Methods
    {% for method in node.methods %}
    {% if method.visibility == "private" %}private {% elif method.visibility == "protected" %}protected {% else %}public {% endif %}{% if method.is_static %}static {% endif %}{% if method.is_abstract %}abstract {% endif %}{{ method.name }}({% for param in method.parameters %}{{ param.name }}: {{ param.type }}{% if not loop.last %}, {% endif %}{% endfor %}){% if method.return_type %}: {{ method.return_type }}{% else %}: void{% endif %}{% if method.is_abstract %};{% else %} {
        // TODO: Implement method
        {% if method.return_type and method.return_type != "void" %}
        return null as any; // Return type: {{ method.return_type }}
        {% endif %}
    }{% endif %}

    {% endfor %}
    {% endif %}
}

{% endfor %}